extends layout

block content
    svg.
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20"
        <title>Listing 24-1 from the XML Bible</title>
        <circle r="30" cx="34" cy="34" style="fill: red; stroke: blue; stroke-width: 2" />

